.title-flight-payments {
     color: var(--blanco);
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    border: none;
    padding: 0;
    background-color: var(--azulOscuro);
    width: 100%;
    height: 80px;
    h2 {
        margin: 0px 0px 0px 25px;
        height: auto;
        font-size: 2rem;
        align-items: center;
        text-align: center;
    }   
}